*{
	margin: 0;
	padding: 0;
}

body{
	background-color: cornsilk;
	font-family: Verdana;
}

.image{
	height: 200px;
	width: 400px;
}

header{
	width: 100%;
	background-color: burlywood;
}

h1{
	padding: 50px;
	text-align: center;
}

section{
	width: 75%;
	margin: 0 auto;
	padding: 25px;
}

/* Styles for Lighbox */

#overlay{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: darkgoldenrod;
}


#lightbox{
	position: fixed;
}

#lightbox img{
	cursor: grab;
}

#slide{
	overflow: hidden;
	width: 410px;
	height: 205px;
	border: 5px solid burlywood;
	cursor: pointer;
	padding: 0px;
}

#innerContainer{
	height: 200px;
	width: 1230px;
	overflow: hidden;
	position: relative;
}

#innerContainer img{
	float: left;
	margin: 5px 5px 5px 5px;
}

/*Crossfade*/

#crossfade{
	position: relative;
	width: 400px;
}

#crossfade .image{
	width: 400px;
	height: 200px;
}

.to{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}